@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#banner{
  background-image: url(../img/background.png);
  filter: contrast(1.2);
}

main{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

fieldset{
  margin-bottom: 30px;
  font-size: 18px;
  border: none;
}

input, select{
  background: #e8eeef;
  border: none;
  font-size: 16px; 
  padding: 12px;
  border-radius: 10px;
}
.cadastro input, select{
  width: 250px;
}
label{
  margin: 10px auto 5px;
}

.maioridade label, .interesses label {
  margin-bottom: 0;

}

.cadastro input{
  cursor: text;
}

.maioridade input, .interesses input{
  cursor: pointer;
}

input:hover, select:hover {
  animation: inputAnimation 2s;
}

@keyframes inputAnimation{
  from{transform: scale(1);}
  to{transform:scale(1.05);}
}
.maioridade label, .interesses label {
  display: inline-block;
  margin-left: 2px;
  margin-right: 10px;
}

label, select{
  display: block;
}

select{
  margin: 10px auto 0;
}

button{
  color: white;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  margin: 30px 10x;
  width: 120px;
  height: 50px;
  font-weight: bold;
  background-color: rgb(73, 73, 196);
  border: none;
  cursor:pointer;
}
#enviar{
  margin-left: 10px;
}