@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

#banner{
  background-image: url(../img/background.png);
  filter: contrast(1.2);
}

main{
  text-align: center;
}

fieldset{
  margin-bottom: 30px;
  font-size: 18px;
  border: none;
}

input, select{
  background: rgb(245, 245, 245);
  border: none;
  font-size: 16px; 
  padding: 12px;
  border-radius: 6px;
  transition: all 0.5s ease-in-out
}

.cadastro input, select{
  width: 250px;
}
label{
  margin: 10px auto 5px;
}

.maioridade label, .interesses label {
  margin-bottom: 0;

}

.cadastro input{
  cursor: text;
}

.maioridade input, .interesses input{
  cursor: pointer;
}

input:hover, select:hover {
  animation: inputAnimation 2s;
  background: rgba(201, 201, 231, 0.8);
}

@keyframes inputAnimation{
  from{transform: scale(1);}
  to{transform:scale(1.05);}
}
.maioridade label, .interesses label {
  display: inline-block;
  margin-left: 2px;
  margin-right: 10px;
}

input:focus{
  color: white;
  background: rgb(103, 103, 150);
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px rgb(201, 201, 231)inset;
  -webkit-text-fill-color: rgb(0, 0, 0) !important;
}

label, select{
  display: block;
}

select{
  margin: 10px auto 0;
}

button{
  color: white;
  font-size: 16px;
  padding: 10px;
  border-radius: 6px;
  margin: 30px 10x;
  width: 120px;
  height: 45px;
  font-weight: bold;
  background-color: rgb(73, 73, 196);
  border: none;
  cursor:pointer;
}

button:hover{
  color: black;
  font-size: 16px;
  padding: 10px;
  border-radius: 6px;
  margin: 30px 10x;
  width: 120px;
  height: 45px;
  font-weight: bold;
  background-color: rgb(35, 212, 189);
  border: none;
  cursor:pointer;
  animation: inputAnimation 2s;
}

#enviar{
  margin-left: 10px;
}